@font-face {
  font-family: 'AliFont';
  src: url('../font/ali.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.page-header {
  font-family: 'AliFont', 'Microsoft YaHei', 'SimHei', sans-serif;
}
